body{

    background-color:#5e3896;
 
}

.intro {
  
    height: 100%;
    background: url('../images/bg_1.png');
    background-size: cover;
 

    background-repeat: no-repeat;
    background-size: cover;
    
     
}
.top-nav-collapse {
    background: rgba(110, 22, 144, 0.73)!important;
}

.navbar:not(.top-nav-collapse) {
    background: rgba(110, 22, 144, 0.73)!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e9f03a !important;
}
.gradient .full-bg-img {
    /* background: rgba(117, 116, 117, 0.4); */
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(71, 69, 73, 0.226), rgba(44, 176, 209, 0.185) 100%);
}

.card-body {
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.84);
}


.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.md-form label {
    color: #ffffff;
}

h6 {
    line-height: 1.7;
}

h5 {
    font-size: 1rem;
    color: rgb(38, 75, 197);
}

.list {
    padding-bottom: 2rem;
}

.list-box {
    padding: 1rem;
}

@media (max-width: 740px) {}

.btn {
    /* width: 60%; */
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn-purple2 {
    width: 50%;
    background-color: #d010ca;
    padding: 10px;
    margin: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-delete {
    background-color: #d010ca;
}

.mb-5 {
    margin-top: 5rem !important;
    margin-bottom: 0rem !important;
}

.h1-responsive {
    font-size: 290%;
    color: #ffffff;
    text-shadow: 1px 1px 4px #000000 !important;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: transparent;
}

.table th {
    margin-right: 1 rem !important;
}

.ml-auto {
    margin-left: auto!important;
}

.nav-link {
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 4px #000000;
}

.view img {
    position: relative !important;
    display: inline;
}

p {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-toggler-icon {
    background-color: transparent;
}

/* .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
   
    background-color: #fff;
    background-clip: padding-box;
    
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   
} */


.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #635962;
}

@media (max-width: 768px) {
    .mb-5 {
        margin-top: 5rem !important;
        margin-bottom: 0rem !important;
    }
    .intro {
        background: url('../images/bg_1.png')no-repeat center center;
        background-size: cover;
    }
    .h1-responsive {
        font-size: 230%;
        text-shadow: 1px 1px 4px #000000 !important;
    }
    .navbar:not(.top-nav-collapse) {
        background: rgba(110, 22, 144, 0.73)!important;
    }
    .btn-purple2 {
        width: 90%;
        background-color: #d010ca;
        padding: 10px;
        margin: 10px;
        font-size: 1.2rem;
    }
    p {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}


@media (min-width: 1500px) {
    html {
        height: 100% !important;
    }
}
/* form val */
.errors {
    color:#edf50cf5;
    
}

input::placeholder {
    color: #a099a3 !important;
  }
  textarea::placeholder {
    color: #a099a3 !important;
  }

  



  .pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
0% {transform: scale(0.9); opacity: 0.8;}
50% {transform: scale(1); opacity: 1;}	
100% {transform: scale(0.9); opacity: 0.7;}			
}

@-webkit-keyframes pulse {
0% {-webkit-transform: scale(0.95); opacity: 0.8;}
50% {-webkit-transform: scale(1); opacity: 1;	}	
100% {-webkit-transform: scale(0.95); opacity: 0.7;	}			
}
