.intro {
    background: url('../images/bg_1.png')no-repeat center center;
    background-size: cover;
}

.intro_thanks {
    background: url('../images/bg_3.png')no-repeat center center;
    background-size: cover;
}

.main {
    position: relative;
    cursor: default;
}


.top-nav-collapse {
    background: rgba(90, 88, 92, 0.226)!important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}



.gradient .full-bg-img {
    /* background: rgba(117, 116, 117, 0.4); */
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(71, 69, 73, 0.226), rgba(44, 176, 209, 0.185) 100%); 
}

.card {
    background-color: rgba(4, 174, 239, 0.582);
    border-radius: 0 rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.25rem;
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.md-form label {
    color: #ffffff;
}

h6 {
    line-height: 1.7;
}

h5
 {
    font-size: 1rem;
    color: rgb(38, 75, 197);
}
.list{ padding-bottom: 2rem;

}

.list-box{ padding: 1rem;} 
@media (max-width: 740px) {
   
}

.btn {
    width: 60%;
    color: #ffffff;
}
a {
   
    color: #ffffff;
}

.btn-pink {
    width: 60%;
    color: #EC297B;
}

.btn-blue-grey
{
    width: 60%;
    background-color:#B9A9B0 !important;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.9rem;
    /* line-height: 1.5; */
    color: #f108ab;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgb(145, 145, 148);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mb-5 {
    margin-top: 25rem !important;
    margin-bottom: 0rem !important;
}


.h1-responsive {
    font-size: 290%;
    text-shadow: 1px 1px 4px #000000 !important;}

    .table {
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        background-color: transparent;
    }
.table th{ margin-right:1 rem !important;

}

/* .mr-auto {
    padding-right: 90%;
} */

.ml-auto {
    margin-left: auto!important;
}


.view img {
    position: relative !important;
     display: inline; 
}

/* .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    float:right;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 100px;
    margin-bottom: 0;
    list-style: none;

} */

/* 
#review {
    display: none;
    
} */

.nav-link{

    font-size: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 4px #000000;
  

}





@media (max-width: 768px) {
    .mb-5 {
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
        
    }

    .intro {
        background: url('../images/bg_2.png')no-repeat center center;
        background-size: cover;
    }

    .h1-responsive {
        font-size: 230%;
        text-shadow: 1px 1px 4px #000000 !important;
    }

        .navbar:not(.top-nav-collapse) {
            background: rgba(90, 88, 92, 0.226)!important;
        }
}


.navbar-toggler-icon {
  
   
    background-color: transparent;
}


